@charset "UTF-8";

/* Color Theme Swatches in Hex */
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-1-hex { color: #274B59; }
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-2-hex { color: #517C8C; }
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-3-hex { color: #8C6849; }
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-4-hex { color: #BF9169; }
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-5-hex { color: #BFA393; }

/* Color Theme Swatches in RGBA */
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-1-rgba { color: rgba(39, 75, 89, 1); }
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-2-rgba { color: rgba(81, 123, 140, 1); }
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-3-rgba { color: rgba(140, 104, 72, 1); }
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-4-rgba { color: rgba(191, 145, 105, 1); }
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-5-rgba { color: rgba(191, 163, 147, 1); }

/* Color Theme Swatches in HSLA */
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-1-hsla { color: hsla(196, 38, 25, 1); }
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-2-hsla { color: hsla(196, 26, 43, 1); }
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-3-hsla { color: hsla(28, 31, 41, 1); }
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-4-hsla { color: hsla(28, 40, 58, 1); }
.business-goal-achievement-and-objective-concept.wooden-block-of-buiness-icons-and-rocket-icon.-5-hsla { color: hsla(22, 25, 66, 1); }




