@charset "UTF-8";

/* Color Theme Swatches in Hex */
.PNSwap-–-token-exchange-platform-1-hex { color: #05F29B; }
.PNSwap-–-token-exchange-platform-2-hex { color: #85F2A0; }
.PNSwap-–-token-exchange-platform-3-hex { color: #F26B1D; }
.PNSwap-–-token-exchange-platform-4-hex { color: #F2F2F2; }
.PNSwap-–-token-exchange-platform-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.PNSwap-–-token-exchange-platform-1-rgba { color: rgba(4, 242, 155, 1); }
.PNSwap-–-token-exchange-platform-2-rgba { color: rgba(133, 242, 160, 1); }
.PNSwap-–-token-exchange-platform-3-rgba { color: rgba(242, 107, 29, 1); }
.PNSwap-–-token-exchange-platform-4-rgba { color: rgba(242, 242, 242, 1); }
.PNSwap-–-token-exchange-platform-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.PNSwap-–-token-exchange-platform-1-hsla { color: hsla(157, 96, 48, 1); }
.PNSwap-–-token-exchange-platform-2-hsla { color: hsla(135, 81, 73, 1); }
.PNSwap-–-token-exchange-platform-3-hsla { color: hsla(22, 89, 53, 1); }
.PNSwap-–-token-exchange-platform-4-hsla { color: hsla(0, 0, 95, 1); }
.PNSwap-–-token-exchange-platform-5-hsla { color: hsla(0, 0, 5, 1); }

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #05F29B;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #05F29B url(../imagens/prédio.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}


div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p {
    font-size: 0.8em;
}

div.campo > label {
    display: none;
    
}

div.campo > span {

    color: rgb(0, 0, 0);
    /*background-color: black*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #e49669;
    font-size: 1.3em;
    width: 80%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-11px);
}

form > div.campo {

    background-color: #05F29B;
    border: 2px solid #05F29B;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #F26B1D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #ff3c00;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #dd7031;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao > i {
    font-size: 0.8em;
}