@charset "UTF-8";

/* Color Theme Swatches in Hex */
.Riddec-|-Website-Design-|-IT-Company-1-hex { color: #152026; }
.Riddec-|-Website-Design-|-IT-Company-2-hex { color: #26A65D; }
.Riddec-|-Website-Design-|-IT-Company-3-hex { color: #035921; }
.Riddec-|-Website-Design-|-IT-Company-4-hex { color: #BF8665; }
.Riddec-|-Website-Design-|-IT-Company-5-hex { color: #F24405; }

/* Color Theme Swatches in RGBA */
.Riddec-|-Website-Design-|-IT-Company-1-rgba { color: rgba(21, 31, 38, 1); }
.Riddec-|-Website-Design-|-IT-Company-2-rgba { color: rgba(38, 165, 93, 1); }
.Riddec-|-Website-Design-|-IT-Company-3-rgba { color: rgba(2, 89, 32, 1); }
.Riddec-|-Website-Design-|-IT-Company-4-rgba { color: rgba(191, 134, 101, 1); }
.Riddec-|-Website-Design-|-IT-Company-5-rgba { color: rgba(242, 68, 4, 1); }

/* Color Theme Swatches in HSLA */
.Riddec-|-Website-Design-|-IT-Company-1-hsla { color: hsla(202, 29, 11, 1); }
.Riddec-|-Website-Design-|-IT-Company-2-hsla { color: hsla(146, 62, 39, 1); }
.Riddec-|-Website-Design-|-IT-Company-3-hsla { color: hsla(140, 94, 18, 1); }
.Riddec-|-Website-Design-|-IT-Company-4-hsla { color: hsla(22, 41, 57, 1); }
.Riddec-|-Website-Design-|-IT-Company-5-hsla { color: hsla(16, 96, 48, 1); }



